@model IEnumerable<PCGD.Models.HocPhan>

@{
    ViewBag.Title = "Danh Sách Học Phần";
}

<div class="card">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        <p>
            <a class="btn btn-primary" href="@Url.Action("Create")">Thêm Mới <i class="fal fa-plus"></i></a>
        </p>
        <table class="table table-bordered table-sm table-hover mb-0">
            <tr>
                <th class="text-center" style="width: 80px">
                    TT
                </th>
                <th class="text-center" style="width: 130px">
                    @Html.DisplayNameFor(model => model.MaHP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenHP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoaiHP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoTC)
                </th>
                <th class="text-center" style="width: 100px">Hành động</th>
            </tr>
            @{
                int stt = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @stt
                    </td>
                    <td class="text-center">
                        <strong>@Html.DisplayFor(modelItem => item.MaHP)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenHP)
                    </td>
                    <td>
                        @if (item.LoaiHP == 0)
                        {@Html.Raw("Bắt buộc") }
                    else
                    { @Html.Raw("Tự chọn")}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoTC)
                    </td>
                    <td class="text-center">
                        <a class="badge badge-primary" href="@Url.Action("Edit", new { id = item.ID })"><i class="fal fa-pen"></i></a>
                        <a class="badge badge-danger" href="@Url.Action("Delete", new { id = item.ID })"><i class="fal fa-trash"></i></a>
                    </td>
                </tr>
                stt++;
            }

        </table>
    </div>
</div>