@model PCGD.Models.HocPhan

@{
    ViewBag.Title = "Sửa Học Phần";
}

<div class="card">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)

            if (ViewData.ModelState["ThongBaoLoi"] != null && !String.IsNullOrEmpty(ViewData.ModelState["ThongBaoLoi"].Errors[0].ErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span class="d-block text-danger">@ViewData.ModelState["ThongBaoLoi"].Errors[0].ErrorMessage</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            <div class="form-group">
                @Html.LabelFor(model => model.MaHP)
                @Html.EditorFor(model => model.MaHP, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.MaHP, "", new { @class = "invalid-feedback" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TenHP)
                @Html.EditorFor(model => model.TenHP, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.TenHP, "", new { @class = "invalid-feedback" })
            </div>

            <div class="form-group">
                <label for="LoaiHP">Loại học phần</label>
                <select id="LoaiHP" name="LoaiHP" class="form-control">
                    <option value="0" @if (Convert.ToInt32(Model.LoaiHP) == 0) { @Html.Raw("selected") }>Bắt buộc</option>
                    <option value="1" @if (Convert.ToInt32(Model.LoaiHP) == 1) { @Html.Raw("selected") }>Tự chọn</option>
                </select>
                @Html.ValidationMessageFor(model => model.LoaiHP, "", new { @class = "invalid-feedback" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SoTC)
                @Html.EditorFor(model => model.SoTC, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.SoTC, "", new { @class = "invalid-feedback" })
            </div>

            <div class="text-left">
                <input type="submit" value="Sửa ngay" class="btn btn-primary" /> hoặc trở lại <a class="text-decoration-none" href="@Url.Action("Index")">trang chính</a>
            </div>
        }
    </div>
</div>