@using PCGD.Libs
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hệ thống phân công giảng dạy AGU</title>

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/tagify")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/tagify")
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark mb-3 bg-gradient">
            <div class="container-fluid">
                <a class="navbar-brand font-weight-bold" href="/"><i class="fal fa-graduation-cap"></i> AGU<small>.edu.vn</small></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/"><i class="fal fa-home"></i> Trang Chủ</a>
                        </li>
                        @if (!string.IsNullOrEmpty(NguoiDungLib.Get().TaiKhoan))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fal fa-cog"></i> Quản lý
                                </a>
                                <div class="dropdown-menu" style="top: 45px;font-size: 14px" aria-labelledby="navbarDropdown">
                                    @if (NguoiDungLib.Get().QuyenHan == 1)
                                    {
                                        <a class="dropdown-item" href="@Url.Action("Index","HocPhan")"><i class="fal fa-folders"></i> Học Phần</a>
                                        <a class="dropdown-item" href="@Url.Action("Index","ChuongTrinh")"><i class="fal fa-user-chart"></i> Chương Trình</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="@Url.Action("Index","Khoa")"><i class="fal fa-school"></i> Khoa</a>
                                        <a class="dropdown-item" href="@Url.Action("Index","Nganh")"><i class="fal fa-chalkboard-teacher"></i> Ngành</a>
                                        <a class="dropdown-item" href="@Url.Action("Index","Lop")"><i class="fal fa-users-class"></i> Lớp</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="@Url.Action("Index","GiangVien")"><i class="fal fa-users-cog"></i> Giảng Viên</a>
                                        <a class="dropdown-item" href="@Url.Action("Index","NguoiDung")"><i class="fal fa-users"></i> Người Dùng</a>
                                        <div class="dropdown-divider"></div>
                                    }
                                    <a class="dropdown-item" href="@Url.Action("Index","PhanCong")"><i class="fal fa-drafting-compass"></i> Phân Công</a>
                                    <a class="dropdown-item" href="@Url.Action("Index","TongHop")"><i class="fal fa-chart-pie"></i> Tổng Hợp</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fal fa-user-circle"></i> <span style="text-transform: capitalize;">@NguoiDungLib.Get().TaiKhoan</span>
                                </a>
                                <div class="dropdown-menu" style="top: 45px;font-size: 14px; right: 0; left: unset" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="@Url.Action("DoiMatKhau", "NguoiDung")"><i class="fal fa-lock"></i> Thay Đổi Mật Khẩu</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("Logout", "Home")"><i class="fal fa-sign-out"></i> Đăng Xuất</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Login", "Home")"><i class="fal fa-sign-in"></i> Đăng Nhập</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <section>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>

    <footer>
        <div class="container-fluid">
            Copyright &copy; 2020 - @DateTime.Now.ToString("yyyy") - Đặng Tiến Sĩ
        </div>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>