@model IEnumerable<PCGD.Models.NguoiDung>

@{
    ViewBag.Title = "Danh Sách Người Dùng";
}

<div class="card">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        <p>
            <a class="btn btn-primary" href="@Url.Action("Create")">Thêm Mới <i class="fal fa-plus"></i></a>
        </p>
        <table class="table table-bordered table-sm table-hover mb-0">
            <tr>
                <th class="text-center" style="width: 40px">
                    TT
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.TaiKhoan)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.QuyenHan)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.NgayTao)
                </th>
                <th class="text-center" style="width: 100px">Hành động</th>
            </tr>
            @{
                int stt = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @stt
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaiKhoan)
                    </td>
                    <td>
                        @if (item.QuyenHan == 0)
                        {
                            <span class="badge badge-primary">@PCGD.Libs.NguoiDungLib.Role(item.QuyenHan)</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">@PCGD.Libs.NguoiDungLib.Role(item.QuyenHan)</span>
                        }
                    </td>
                    <td>
                        @item.NgayTao.ToString("dd-MM-yyyy")
                    </td>
                    <td class="text-center">
                        <a class="badge badge-primary" href="@Url.Action("Edit", new { id = item.ID })"><i class="fal fa-pen"></i></a>
                        <a class="badge badge-danger" href="@Url.Action("Delete", new { id = item.ID })"><i class="fal fa-trash"></i></a>
                    </td>
                </tr>
                stt++;
            }

        </table>
    </div>
</div>