@model PCGD.Models.HocPhan

@{
    ViewBag.Title = "Xoá Học Phần";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index")">Học Phần</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>
<div class="card">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        <div class="alert alert-warning" role="alert">
            Bạn có muốn xoá học phần <strong>@Html.DisplayFor(model => model.MaHP)</strong> này không?
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="text-left">
                <input type="submit" value="Xoá ngay" class="btn btn-primary" /> hoặc trở lại <a class="text-decoration-none" href="@Url.Action("Index")">trang chính</a>
            </div>
        }

    </div>
</div>
