@model IEnumerable<PCGD.Models.TongHopModel>
@using PCGD.Libs

@{
    ViewBag.Title = "Danh Sách Tổng Hợp Giảng Viên";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index")">Tổng Hợp</a></li>
        <li class="breadcrumb-item active" aria-current="page">Năm Học @ViewBag.NamHoc - @(ViewBag.NamHoc + 1)</li>
    </ol>
</nav>
<div class="card">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        <table class="table table-bordered table-sm table-hover mb-0">
            <tr>
                <th class="text-center align-middle" style="width: 40px">
                    TT
                </th>
                <th class="text-center align-middle" style="width: 250px">
                    Họ và tên
                </th>
                <th class="text-center align-middle" style="width: 120px">
                    Định mức giờ chuẩn
                </th>
                <th class="text-center align-middle" style="width: 120px">
                    Định mức công tác
                </th>
                <th class="text-center align-middle" style="width: 90px">
                    Giảm định mức
                <th class="text-center align-middle" style="width: 80px">
                    Học kì I
                </th>
                <th class="text-center align-middle" style="width: 80px">
                    Học kì II
                </th>
                <th class="text-center align-middle" style="width: 100px">
                    Tổng tiết
                </th>
                <th class="text-center align-middle" style="width: 80px">
                    Tổng
                </th>
                <th class="text-center align-middle" style="width: 80px">
                    Tổng Không NCKH
                </th>
                <th class="text-center align-middle">
                    @Html.DisplayNameFor(model => model.GhiChu)
                </th>
                <th class="text-center align-middle" style="width: 100px">Hành động</th>
            </tr>
            @if (Model.Count() <= 0)
            {
                <tr>
                    <td colspan="12" class="text-center bg-light">Danh sách tổng hợp rỗng.</td>
                </tr>
            }
            @{
                int stt = 1;
                double tongGiamDinhMuc = 0;
                double tongSoGioDay = 0;
            }
            @foreach (var item in Model)
            {
                double tongTiet = TongHopLib.GetTongGioDay(ViewBag.ID, item.GiangVien_ID);
                double tongGioDay = ((item.GiamDinhMuc == null ? 0.0 : (double)item.GiamDinhMuc) + tongTiet - (item.DinhMucGioChuan == null ? 0.0 : (int)item.DinhMucGioChuan) - (item.DinhMucCongTac == null ? 0.0 : (int)item.DinhMucCongTac));
                double tongKhongDinhMucCongTac = ((item.GiamDinhMuc == null ? 0.0 : (double)item.GiamDinhMuc) + tongTiet - (item.DinhMucGioChuan == null ? 0.0 : (int)item.DinhMucGioChuan));
                tongGiamDinhMuc = tongGiamDinhMuc + (item.GiamDinhMuc == null ? 0.0 : (double)item.GiamDinhMuc);
                tongSoGioDay = tongSoGioDay + tongTiet;
                <tr>
                    <td class="text-center">
                        @stt
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.TenGV)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.DinhMucGioChuan)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.DinhMucCongTac)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.GiamDinhMuc)
                    </td>
                    <td class="text-center">
                        @TongHopLib.GetTongTietCuaTungHocKi(ViewBag.ID, 1, item.GiangVien_ID)
                    </td>
                    <td class="text-center">
                        @TongHopLib.GetTongTietCuaTungHocKi(ViewBag.ID, 2, item.GiangVien_ID)
                    </td>
                    <td class="text-center">
                        @tongTiet
                    </td>
                    <td class="text-center">
                        @tongGioDay
                    </td>
                    <td class="text-center">
                        @tongKhongDinhMucCongTac
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.GhiChu)
                    </td>
                    <td class="text-center">
                        <a class="badge badge-primary" href="@Url.Action("SuaGiangVien", new { id = PCGD.Libs.TongHopLib.GetChiTietTongHopID(ViewBag.ID, item.GiangVien_ID) })"><i class="fal fa-pen"></i></a>
                    </td>
                </tr>
                stt++;
            }
                <tr>
                    <td class="text-right" colspan="4">
                        <strong>Tổng số tiết BM</strong>
                    </td>
                    <td class="text-center">
                        @tongGiamDinhMuc
                    </td>
                    <td colspan="2">
                        
                    </td>
                    <td class="text-center">
                        @tongSoGioDay
                    </td>
                    <td colspan="4">
                        
                    </td>
                </tr>
                <tr>
                    <td class="text-right" colspan="7">
                        <strong>Số tiết trung bình của GV</strong>
                    </td>
                    <td class="text-center">
                        @String.Format("{0:0.##}", (tongSoGioDay / (stt - 1)))
                    </td>
                    <td colspan="4">

                    </td>
                </tr>
        </table>
    </div>
</div>