@model PCGD.Models.ViewModel

@{
    ViewBag.Title = "Chương Trình " + @Model.ChuongTrinh.NgayTao.ToString("dd-MM-yyyy");
}

<div class="card">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        <p>
            <a class="btn btn-primary" href="@Url.Action("ThemHocPhan", new { id = Model.ChuongTrinh.ID })">Thêm Mới <i class="fal fa-plus"></i></a> hoặc trở lại <a class="text-decoration-none" href="@Url.Action("Index")">trang chính</a>
        </p>
        <table class="table table-bordered table-sm table-hover mb-0">
            <tr>
                <th>
                    Mã học phần
                </th>
                <th>
                    Tên học phần
                </th>
                <th>
                    Loại học phần
                </th>
                <th>
                    Học kì
                </th>
                <th>
                    Số tín chỉ
                </th>
                <th>
                    Số tiết lý thuyết
                </th>
                <th>
                    Số tiết thực hành
                </th>
                <th class="text-center" style="width: 100px">Hành động</th>
            </tr>

            @foreach (var item in Model.HocPhan)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaHP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenHP)
                    </td>
                    @if (item.LoaiHP == 0)
                    {
                        <td>Bắt buộc</td>
                    }
                    else
                    {
                        <td>Tự chọn</td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.HocKi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoTC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoTietLT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoTietTH)
                    </td>
                    <td class="text-center">
                        <a class="badge badge-primary" href="@Url.Action("SuaHocPhan", new { id = item.ID })"><i class="fal fa-pen"></i></a>
                        <a class="badge badge-danger" href="@Url.Action("XoaHocPhan", new { id = item.ID })"><i class="fal fa-trash"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>